div.n_header {
  height: 10%;
  background: #eaeaea;
}

div.n_header > div.n_panel_s {
  overflow: hidden;
}

div.n_header > div.n_panel_s > div._m_title {
  padding: 0 50px;
  font-size: 40px;
  height: 70px;
  text-align: center;
  color: gray;
  float: left;
  line-height: 70px;
}

div.n_header > div.n_panel_s > div._m_home {
  float: right;
  padding: 10px;
  height: 50px;
  width: 50px;
  font-size: 46px;
  line-height: 50px;
  text-align: center;
}

div.n_header > div.n_panel_s > div._m_home > a {
  display: block;
  color: gray;
  transition: all 0.2s linear;
}

div.n_header > div.n_panel_s > div._m_home > a:hover {
  color: #ff8f8f;
  transform: scale(1.3);
}

div.n_body {
  height: 90%;
  background: #eaeaea;
}

div.back {
  background: #eaeaea;
  height: 70%;
}

div.floor {
  background: #ff8f8f;
  height: 30%;
  position: relative;
}

div.floor > div.sub_menus {
  background: white;
  height: 400px;
  width: 600px;
  position: absolute;
  top: -350px;
  left: 50%;
  margin-left: -300px;
}

div.floor > div.sub_menus > div._s_1 {
  width: 100%;
  height: 100%;
}

div.floor > div.sub_menus > div._s_1 > div {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}

div.floor > div.sub_menus > div._s_1 > div.item-1 {
  background: white;
}

div.floor > div.sub_menus > div._s_1 > div.item-1 > div.icon {
  height: 200px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  line-height: 200px;
}

div.floor > div.sub_menus > div._s_1 > div.item-1 > div.icon > i {
  font-size: 130px;
  color: #d0d0d0;
}

div.floor > div.sub_menus > div._s_1 > div.item-1 > div.title {
  height: 50px;
  width: 80%;
  margin-left: 10%;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  box-sizing: border-box;
  border-bottom: 1px gray solid;
}

div.floor > div.sub_menus > div._s_1 > div.item-1 > a.link {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

div.floor > div.sub_menus > div._s_1 > div.item-2 {
  background: #dfdfdf;
}

div.floor > div.sub_menus > div._s_1 > div.item-2 > div.icon {
  height: 200px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  line-height: 200px;
}

div.floor > div.sub_menus > div._s_1 > div.item-2 > div.icon > i {
  font-size: 130px;
  color: white;
}

div.floor > div.sub_menus > div._s_1 > div.item-2 > div.title {
  height: 50px;
  width: 80%;
  margin-left: 10%;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  box-sizing: border-box;
  border-bottom: 1px gray solid;
}

div.floor > div.sub_menus > div._s_1 > div.item-2 > a.link {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
  border-color: white;
}

div.floor > div.sub_menus > div._s_1 > div.item-2 > a.link:hover {
  border-color: #ff8f8f;
}

div.floor > div.sub_menus > div._s_2 {
  width: 100%;
  height: 100%;
}

div.floor > div.sub_menus > div._s_2 > div._s_title {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: right;
  font-size: 24px;
  color: #8bc34a;
}

div.floor > div.sub_menus > div._s_2 > div._s_body {
  height: 350px;
  box-sizing: border-box;
  padding: 0 20px;
}

div.floor > div.sub_menus > div._s_2 > div._s_body > div._ss_body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 80px 0 0;
}

div.floor > div.sub_menus > div._s_2 > div._s_body > div._ss_body > div._ci_text > div {
  height: 30px;
  font-size: 20px;
  color: #e91e63;
}

div.floor > div.sub_menus > div._s_2 > div._s_body > div._ss_body > div._ci_text > input {
  border-bottom: 1px #cddc39 solid;
  font-size: 18px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

div.floor > div.sub_menus > div._s_2 > div._s_body > div._ss_body > div.createProjet {
  width: 50%;
  position: absolute;
  bottom: 20px;
  right: 0;
}

div.floor > div.sub_menus > div._s_3 {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

div.floor > div.sub_menus > div._s_3 > div._s_title {
  width: 100%;
  text-align: right;
  overflow: hidden;
  height: 55px;
  font-size: 24px;
  color: #8bc34a;
}

div.floor > div.sub_menus > div._s_3 > div._s_body {
  height: 300px;
  overflow: auto;
  width: 100%;
}

div.floor > div.sub_menus > div._s_3 > div._s_body > div.textIcon_link {
  background: #E91E63;
  position: relative;
  overflow: hidden;
  height: 40px;
  margin-bottom: 3px;
  line-height: 40px;
  border-radius: 3px;
  color: white;
}

div.floor > div.sub_menus > div._s_3 > div._s_body > div.textIcon_link:hover {
  background: #ff4e8a;
}

div.floor > div.sub_menus > div._s_3 > div._s_body > div.textIcon_link > div {
  float: left;
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
  padding: 0 10px;
}

div.floor > div.sub_menus > div._s_3 > div._s_body > div.textIcon_link > a {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 24px;
}

div.floor > div.sub_menus > div._s_3 > div._s_body > div.textIcon_link > a i {
  width: 100%;
  display: block;
  height: 30px;
  margin-top: 5px;
  line-height: 30px;
  box-sizing: border-box;
  border-left: 1px #ff4b8e solid;
  color: white;
}

div.n_body div._n_open_projet {
  background: #eaeaea;
  box-sizing: border-box;
  height: 40px;
  padding: 0 20px;
}

div.n_body div._n_open_projet > a {
  background: #e91e63;
  color: white;
  border-radius: 3px;
  line-height: 30px;
  display: block;
  height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  float: right;
  text-decoration: none;
  margin-left: 20px;
  cursor: pointer;
}

div.n_body div._n_open_projet > a:hover {
  background: #f54a84;
}

div.projet-management div._s_n_body {
  height: 100%;
}

div.projet-management div._s_n_body div.cg-multipanel {
  overflow: hidden;
  height: 100%;
}

div.projet-management div._s_n_body div.cg-multipanel > div {
  float: left;
  height: 100%;
}

div.projet-management div._s_n_body div.cg-multipanel > div.cg-multipanel-access {
  background: #eaeaea;
}

div.projet-management div._s_n_body div.cg-multipanel > div.cg-multipanel-access button {
  outline: 0;
  width: 100%;
  height: 40px;
  font-size: 18px;
  background: #e91e63;
  color: white;
  border: 0;
  margin-bottom: 1px;
  cursor: pointer;
}

div.projet-management div._s_n_body div.cg-multipanel > div.cg-multipanel-access button:hover {
  background: #f54a84;
}

div.projet-management div._s_n_body div.cg-multipanel > div.cg-multipanel-view {
  box-sizing: border-box;
  padding: 0 20px 10px 0;
  border-left: 1px white solid;
}

div.projet-management div._s_n_body div.cg-multipanel > div.cg-multipanel-view > div {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
}

div.projet-management div._s_n_body div.cg-multipanel > div.cg-multipanel-view div.arquitecture {
  overflow: auto;
  /**{
						all: initial;
						text-indent:-999px;
						font: 0/0 a;
					  text-shadow: transparent;
					  color: transparent;
					  text-decoration: none;
						display: block;
						overflow: hidden;
					}*/
}

div.projet-management div._s_n_body div.cg-multipanel > div.cg-multipanel-view div.arquitecture div.panel_p {
  box-sizing: border-box;
  border: 1px black solid;
  width: 100%;
  border-radius: 3px;
}

div.projet-management div._s_n_body div.cg-multipanel > div.cg-multipanel-view div.arquitecture div.panel_p div.n_panel_p {
  height: 20%;
  width: 96%;
  margin: 10px 2%;
  border: 1px black dashed;
}
