div.n_header {
  height: 10%;
  background: #f6f6f6;
}

div.n_header > div.n_panel_s > div {
  padding: 10px;
  font-size: 40px;
  text-align: center;
  color: gray;
}

div.n_body {
  height: 90%;
  background: #32d9f2;
}

div.n_body > div.n_panel_s > div.back {
  background: #f6f6f6;
  height: 70%;
}

div.n_body > div.n_panel_s > div.floor {
  background: #ff8f8f;
  height: 30%;
  position: relative;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus {
  background: white;
  height: 400px;
  width: 600px;
  position: absolute;
  top: -350px;
  left: 50%;
  margin-left: -300px;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_1 {
  width: 100%;
  height: 100%;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_1 > div {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_1 > div.item-1 {
  background: white;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_1 > div.item-1 > div.icon {
  height: 200px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  line-height: 200px;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_1 > div.item-1 > div.icon > i {
  font-size: 130px;
  color: #d0d0d0;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_1 > div.item-1 > div.title {
  height: 50px;
  width: 80%;
  margin-left: 10%;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  box-sizing: border-box;
  border-bottom: 1px gray solid;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_1 > div.item-1 > a.link {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_1 > div.item-2 {
  background: #dfdfdf;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_1 > div.item-2 > div.icon {
  height: 200px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  line-height: 200px;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_1 > div.item-2 > div.icon > i {
  font-size: 130px;
  color: white;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_1 > div.item-2 > div.title {
  height: 50px;
  width: 80%;
  margin-left: 10%;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  box-sizing: border-box;
  border-bottom: 1px gray solid;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_1 > div.item-2 > a.link {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
  border-color: white;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_1 > div.item-2 > a.link:hover {
  border-color: #ff8f8f;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_2 {
  width: 100%;
  height: 100%;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_2 > div._s_title {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: right;
  font-size: 24px;
  color: #8bc34a;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_2 > div._s_body {
  height: 350px;
  box-sizing: border-box;
  padding: 0 20px;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_2 > div._s_body > div._ss_body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 80px 0 0;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_2 > div._s_body > div._ss_body > div._ci_text > div {
  height: 30px;
  font-size: 20px;
  color: #e91e63;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_2 > div._s_body > div._ss_body > div._ci_text > input {
  border-bottom: 1px #cddc39 solid;
  font-size: 18px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

div.n_body > div.n_panel_s > div.floor > div.sub_menus > div._s_2 > div._s_body > div._ss_body > div.createProjet {
  width: 50%;
  position: absolute;
  bottom: 20px;
  right: 0;
}
