
$cgray: #eaeaea;
div.n_header {
	height: 10%;
	background: $cgray;
	> div.n_panel_s {
		overflow: hidden;
		> div._m_title{
			padding: 0 50px;
			font-size: 40px;
			height: 70px;
			text-align: center;
			color: gray;
			float: left;
			line-height: 70px;
		}
		> div._m_home{
			float: right;
			padding: 10px;
			height: 50px;
			width: 50px;
			font-size: 46px;
			line-height: 50px;
			text-align: center;
			> a{
				display: block;
				color: gray;
				transition: all 0.2s linear;
				&:hover{
					color: #ff8f8f;
					transform: scale(1.3);
				}
			}
		}
	}
}
div.n_body {
	height: 90%;
	background: $cgray;
}
div{
	&.back {
		background: $cgray;
		height: 70%;
	}
	&.floor {
		background: #ff8f8f;
		height: 30%;
		position: relative;
		> div.sub_menus {
			background: white;
			height: 400px;
			width: 800px;
			position: absolute;
			top: -350px;
			left: 50%;
			margin-left: -400px;
			> div._s_1{
				width: 100%;
				height: 100%;
				> div {
					float: left;
					width: 33.3%;
					height: 100%;
					position: relative;
					> div.icon{
						height: 200px;
						width: 100%;
						box-sizing: border-box;
						text-align: center;
						line-height: 200px;
						> i{
							font-size: 130px;
						}
					}
					> div.title{
						height: 50px;
						width: 80%;
						margin-left: 10%;
						line-height: 50px;
						text-align: center;
						font-size: 24px;
						box-sizing: border-box;
						border-bottom: 1px gray solid;
					}
					> a.link{
						width: 80%;
						margin-left: 10%;
						margin-top: 50px;
					}
					&.item-1, &.item-3 {
						> div.icon{
							> i{
								color: #d0d0d0;
							}
						}
					}
					&.item-2 {
						background: #dfdfdf;
						> div.icon{
							> i{
								color: white;
							}
						}
						> a.link{
							border-color: white;
							&:hover{
								border-color: #ff8f8f;
							}
						}
					}
				}
			}
			> div._s_2{
				width: 100%;
				height: 100%;
				> div._s_title{
					height: 50px;
					line-height: 50px;
					padding: 0 20px;
					box-sizing: border-box;
					text-align: right;
					font-size: 24px;
					color: #8bc34a;
				}
				> div._s_body{
					height: 350px;
					box-sizing: border-box;
					padding: 0 20px;
					> div._ss_body{
						width: 100%;
						height: 100%;
						box-sizing: border-box;
						position: relative;
						padding: 80px 0 0;
						> div._ci_text{
							> div{
								height: 30px;
								font-size: 20px;
								color: #e91e63;
							}
							> input{
								border-bottom: 1px #cddc39 solid;
								font-size: 18px;
								width: 100%;
								padding: 5px;
								box-sizing: border-box;
							}
						}
						> div.createProjet{
							width: 50%;
							position: absolute;
							bottom: 20px;
							right: 0;
						}
					}
				}
			}
			> div._s_3{
				width: 100%;
				height: 100%;
				padding: 20px;
				box-sizing: border-box;
				position: relative;
				> div._s_title{
					width: 100%;
					text-align: right;
					overflow: hidden;
					height: 55px;
					font-size: 24px;
					color: #8bc34a;
				}
				> div._s_body{
					height: 300px;
					overflow: auto;
					width: 100%;
				}
			}
			> div._s_4{
				width: 100%;
				height: 100%;
				padding: 20px;
				box-sizing: border-box;
				position: relative;
				> div._s_title{
					width: 100%;
					text-align: right;
					overflow: hidden;
					height: 55px;
					font-size: 24px;
					color: #8bc34a;
				}
				> div._s_body{
					height: 300px;
					overflow: auto;
					width: 100%;
				}
			}
		}

	}
}
div.n_body{
	div._n_open_projet{
		background: $cgray;
		box-sizing: border-box;
		height: 40px;
		padding: 0 20px;
		> a{
			background: #e91e63;
			color: white;
			border-radius: 3px;
			line-height: 30px;
			display: block;
			height: 30px;
			padding: 0 10px;
			box-sizing: border-box;
			float: right;
			text-decoration: none;
			margin-left: 20px;
			cursor: pointer;
			&:hover{
				background: #f54a84;
			}
		}
	}
}
div.projet-management{
	div._s_n_body{
		height: calc(100% - 40px);
		div.cg-multipanel{
			overflow: hidden;
			height: 100%;
			> div{
				float: left;
				height: 100%;
			}
			> div.cg-multipanel-access{
				background: $cgray;
				width: 200px;
				button{
					outline: 0;
					width: 100%;
					height: 40px;
					font-size: 18px;
					background: #e91e63;
					color: white;
					border: 0;
					margin-bottom: 1px;
					cursor: pointer;
					&:hover{
						background: #f54a84;
					}
				}
			}
			> div.cg-multipanel-view{
				box-sizing: border-box;
				padding: 0 20px 10px 0;
				border-left: 1px white solid;
				width: calc(100% - 200px);
				> div{
					background: #f5f5f5;
					width: 100%;
					height: 100%;
				}
				div.arquitecture{
					overflow: auto;
					iframe{
						width: 100%;
						height: calc(100% - 10px);
						border: 0;
					}
				}
				div.sources{
					position: relative;
					padding: 10px;
					overflow: hidden;
					box-sizing: border-box;
					> div{
						height: 100%;
						width: 100%;
						> div.cLink{
							height: calc(100% - 50px);
							> div{
								height: 100%;
								width: 100%;
							}
							> div.ccCode, > div.ccSource{
								display: none;
							}
						}
						> div.cSettings{
							height: 50px;
							background: #e2ea89;
						}
					}
				}
				div.gallery-gatgets{
					padding: 10px;
					box-sizing: border-box;
					> div{
						height: 100%;
					}
				}
			}
		}
	}

}
div.gatget-factory{
	div.n_body{
		padding: 10px;
		box-sizing: border-box;
		> div.n_body_s{
			height: 100%;
			> div.gf-settings{
				height: 50px;
				input, option{
					float: right;
					width: 300px;
				}
				button{
					width: 80px;
					float: right;
					margin-left: 10px;
				}
			}
			> div.pnl_multi{
				height: calc(100% - 50px);
				> div.cg-multipanel{
					> div.cg-multipanel-view{
						> div{
							height: 100%;
							background: white;
						}
						> div.pnlVeiew{
							iframe{
								height: 100%;
								width: 100%;
								border-style: solid;
								border: 0;
							}
						}
					}
				}
			}
		}
	}
}
