* {
  padding: 0;
  margin: 0;
  font-family: Calibri;
}

input {
  outline: 0;
  border: 0;
}

html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

div {
  &.panel_p, &.panel_s, &.n_panel_p, &.n_panel_s {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
  }
  &.n_panel_p {
    /*border: 1px black solid;*/
  }
}

.cgButtom01 {
  width: 100%;
  height: 36px;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  border: 1px #d0d0d0 solid;
  box-sizing: border-box;
  transition: all 0.2s linear;
  background: transparent;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #575757;
  &:hover {
    background: #ff8f8f;
    color: white;
    border: 1px #ff8f8f solid;
  }
}

div.cgSquareIcon {
    height: 100px;
    width: 100px;
    color: white;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    > div {
      border: 1px #ffb266 solid;
      text-align: center;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      > {
        div {
          background: #ffb266;
          height: 20px;
          line-height: 20px;
        }
        i {
          color: #ffb266;
          height: 70px;
          line-height: 70px;
          font-size: 50px;
          display: block;
        }
      }
    }
  }
div.cgSquareIcon2 {
    height: 100px;
    width: 100px;
    color: white;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    > div {
      border: 1px #ffb266 solid;
      text-align: center;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      > i {
        color: #ffb266;
        height: 100%;
        line-height: 90px;
        font-size: 60px;
        display: block;
      }
    }
  }
div.textIcon_link {
    background: #E91E63;
    position: relative;
    overflow: hidden;
    height: 40px;
    margin-bottom: 3px;
    line-height: 40px;
    border-radius: 3px;
    color: white;
    &:hover {
      background: #ff4e8a;
    }
    > {
      div {
        float: left;
        width: 100%;
        padding-right: 40px;
        box-sizing: border-box;
        padding: 0 10px;
      }
      a {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 0;
        top: 0;
        text-align: center;
        font-size: 24px;
        cursor: pointer;
        i {
          width: 100%;
          display: block;
          height: 30px;
          margin-top: 5px;
          line-height: 30px;
          box-sizing: border-box;
          border-left: 1px #ff4b8e solid;
          color: white;
        }
      }
    }
  }
div.themeMultipanel01{
  height: 100%;
  > div.cg-multipanel-access {
    width: 200px;
    height: 100%;
    float: left;
    > button{
      width: 100%;
      background: #e91e63;
      outline: none;
      border: 0;
      color: white;
      height: 40px;
      font-size: 18px;
      margin-bottom: 1px;
      cursor: pointer;
      &:hover{
        background: #f54a84;
      }
    }

  }
  > div.cg-multipanel-view{
    width: calc(100% - 200px);
    float: left;
    height: 100%;
  }
}
.themeButton01{
  background: #e91e63;
  color: white;
  height: 30px;
  line-height: 30px;
  border-style: solid;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  outline: 0;
  transition: all 0.2s linear;
  &:hover{
    background: #f54a84;
  }
}
option.themeInput01, input.themeInput01{
  background: white;
  color: #676262;
  height: 20px;
  padding: 5px;
  border-radius: 3px;
  outline: 0;
  font-size: 16px;
}

.themeButton02{
  background: #ff5722;
  color: white;
  height: 30px;
  line-height: 30px;
  border-style: solid;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  outline: 0;
  transition: all 0.2s linear;
  &:hover{
    background: #ff855f;
  }
}
