div.headerCepre{
  background: #00bcd4;
  height: 90px;
  box-sizing: border-box;
  padding: 10px;
}
div.headerCepre > a.page_home{
  display: block;
  height: 70px;
  width: 70px;
  background: #ff9800;
  border-radius: 3px;
  text-align: center;
  float: left;
}
div.headerCepre > a.page_home:hover i{
  color: #ffdb97;
  cursor: pointer;
}
div.headerCepre > a.page_home >i{
  color: white;
  font-size: 50px;
  line-height: 70px;
  transition: all 0.2s linear;
}

div.headerCepre > div.title{
  color: white;
  height: 70px;
  line-height: 70px;
  font-family: Impact;
  font-size: 30px;
  padding: 0 10px;
  float: left;
}
div.headerCepre > div.title-2{
  color: white;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
  font-family: Impact;
  padding: 0 10px;
  float: left;
  display: none;
}

@media only screen and (max-width: 640px) {
  div.headerCepre{
    height: 70px;
  }
  div.headerCepre > a.page_home{
    height: 50px;
    width: 50px;
  }
  div.headerCepre > a.page_home >i{
    height: 50px;
  	line-height: 50px;
    font-size: 28px;
  }
  div.headerCepre > div.title{
    display: none;
  }
  div.headerCepre > div.title-2{
    display: block;
  }
}