//output:login.administrator.php, pretty:true
div.box-login-theme01
  div.icon-box
    div.text-icon
      div._i_content
        i.ion-android-bus
    div.leyenda
      | SING IN
  div.form-section
    div.form-section_s
  div.send-section
    div.send-section_s
