//output:administrator.php, pretty:true
| <?php
|   session_start();
|   include 'php/functions.php';
|   include 'php/query_php.php';
|   $saa = '';
|   if(!empty($_SESSION['user']) && !empty($_SESSION['pass'])){
|     if(count($_SESSION['user']) > 0 && count($_SESSION['pass']) > 0){
|       $saa = usuarioNombre('name($'.$_SESSION['user'].',$'.$_SESSION['pass'].',$PERS,$GGRL)')['DATA'][0]['nombre_completo'];
|     }
|   }
|   $content = matrix('widget/login.administrator.php');
|   $head = <<<EOT
| 
doctype html
head
  meta(charset="utf-8")
  title ADMINISTRATOR SITE
  script(type="text/javascript",src='../js.cg/jquery-3.1.1.js')
  script(type="text/javascript",src='../js.cg/Utilitarios.js')
  script(type="text/javascript",src='../js.cg/class.js')
  script(type="text/javascript",src='js/administrator.main.js')
  link(href="Ionicons/css/ionicons.css",rel="stylesheet",type="text/css")
  link(rel="stylesheet",href="css/style.css",type="text/css")
  link(rel="stylesheet",href="css/styleInputs-theme01.css",type="text/css")
  link(rel="stylesheet",href="css/styles-theme01.css",type="text/css")
  link(rel="stylesheet",href="css/style.administrator.css",type="text/css")
| 
| EOT;
|   $page = <<<EOT
| 
body
  div.controler.control-main.page1
    div.controler.control-main_s
      div.controler.control-panel
        div.controler.control-panel_s
          div.controler.control-panel
            div.controler.control-panel_s
              div.bienvenida
                div._bienvenida
                  div.title
                    | BIENVENIDO AL SISTEMA ADMINISTRATIVO
                  div.title2
                    | EL BUSS PARRANDERO
                  div.leyenda
                    | Inicie secion para poder realizar actualizaciones cambios y demas
          div.controler.control-panel
            div.controler.control-panel_s
              div.content_box-log
                | $content
| 
| EOT;
| 
| $logPage = <<<EOT
| 
body
  div.controler.control-main.page2
    div.controler.control-main_s
      div.controler.control-header
        div.controler.control-header_s
          div.content-nameUser
            div.user $saa
            i.ion-ios-person-outline
          i.ion-power.closeSesion.iconNav
          i.ion-arrow-left-c.iconNav
      div.controler.control-panel
        div.controler.control-panel_s
          div.contenTitles
            div.subTitle ADMINISTRADOR
          div.contentAccesDirects
            div.contentAccesDirects_s
            
              div.contentAcces
                div.contentAcces_s
                  i.icon.ion-ios-people
                  div.text
                    div.title PERSONAL
                    div.description En esta seccion podras realizar cambios en el estado de los personales
                    
              div.contentAcces
                div.contentAcces_s
                  i.icon.ion-android-bus
                  div.text
                    div.title BUSES
                    div.description En esta seccion podras realizar cambios en el estado de los buses
                    
              div.contentAcces
                div.contentAcces_s
                  i.icon.ion-cube
                  div.text
                    div.title PERSONAL
                    div.description En esta seccion podras realizar cambios en el estado de los personales
                    
              div.contentAcces
                div.contentAcces_s
                  i.icon.ion-cube
                  div.text
                    div.title PERSONAL
                    div.description En esta seccion podras realizar cambios en el estado de los personales          
                  
                    
              div.contentAcces
                div.contentAcces_s
                  i.icon.ion-cube
                  div.text
                    div.title PERSONAL
                    div.description En esta seccion podras realizar cambios en el estado de los personales
                    
              div.contentAcces
                div.contentAcces_s
                  i.icon.ion-cube
                  div.text
                    div.title PERSONAL
                    div.description En esta seccion podras realizar cambios en el estado de los personales
                    
              div.contentAcces
                div.contentAcces_s
                  i.icon.ion-cube
                  div.text
                    div.title PERSONAL
                    div.description En esta seccion podras realizar cambios en el estado de los personales
                    
              div.contentAcces
                div.contentAcces_s
                  i.icon.ion-cube
                  div.text
                    div.title PERSONAL
                    div.description En esta seccion podras realizar cambios en el estado de los personales             
                    
                
| 
| EOT;
| 
| if(!empty($_SESSION['user']) && !empty($_SESSION['pass'])){
|   if(count($_SESSION['user']) > 0 && count($_SESSION['pass']) > 0){
|     echo $head;
|     echo $logPage;
|   }
|   else{
|     echo $head;
|     echo $page;
|   }
| }
| else{
|   echo $head;
|   echo $page;
| }
| ?>
