//output:administrator.php, pretty:true
doctype html
head
  meta(charset="utf-8")
  title ADMINISTRATOR SITE
  script(type="text/javascript",src='../js.cg/jquery-3.1.1.js')
  script(type="text/javascript",src='../js.cg/Utilitarios.js')
  script(type="text/javascript",src='../js.cg/class.js')
  script(type="text/javascript",src='js/administrator.main.js')
  link(href="Ionicons/css/ionicons.css",rel="stylesheet",type="text/css")
  link(rel="stylesheet",href="css/style.css",type="text/css")
  link(rel="stylesheet",href="css/styleInputs-theme01.css",type="text/css")
  link(rel="stylesheet",href="css/styles-theme01.css",type="text/css")
  link(rel="stylesheet",href="css/style.administrator.css",type="text/css")
body
  div.controler.control-main
    div.controler.control-main_s
    
      div.controler.control-panel
        div.controler.control-panel_s
        
          div.controler.control-panel
            div.controler.control-panel_s
              div.bienvenida
                div._bienvenida
                  div.title
                    | BIENVENIDO AL SISTEMA ADMINISTRATIVO
                  div.title2
                    | EL BUSS PARRANDERO
                  div.leyenda
                    | Inicie secion para poder realizar actualizaciones cambios y demas
                  
          div.controler.control-panel
            div.controler.control-panel_s
              div.content_box-log
                | <?php include 'widget/login.administrator.php';?>
